{
  "extends": "standard",
  "env": {
    "node": true,
    "jest": true,
    "jasmine": true
  },
  "rules": {
    "semi": "off",
    "eol-last": "off",
    "space-before-function-paren": "off",
    "quotes": "off",
    "no-new-func": "off",
    "indent": "off",
    "eqeqeq": "off"
  }
}