extends include/page.pug

block content
	div.mb-20
		form.form-inline
			.form-group
				label(for='txtName') Name: &nbsp;
				input#txtName.form-control(type='text')
			.form-group
				label(for='txtDomain') &nbsp; Domain: &nbsp; 
				input#txtDomain.form-control(type='text')
			.form-group
				label(for='txtPath') &nbsp; Path: &nbsp;
				input#txtPath.form-control(type='text')
				input#txtPageIndex.form-control(type='hidden')
				input#txtPageSize.form-control(type='hidden')
				input#txtProject.form-control(type='hidden',value=project)
			| &nbsp;
			button#btnSearch.btn.btn-default(type='submit',data-search-url=mock.uri("be/list")) Search
			| &nbsp;
			a#btnAdd.btn.btn-primary(href=mock.uri("add"), target="_blank") Add
	div.mb-20
		table.table.table-striped.table-bordered
			thead
				tr
					th #
					th Name
					th Project
					th Domain
					th Path
					th Type
					th onBefore
					th Content
					th onAfter
					th Options
			tbody
				tr
					td(colspan="10")
						div.text-center(style="height:200px; padding-top: 90px;")
							| Loading ...
		div.panel.panel-default
			.panel-body
				#divPager(aria-label="Page navigation",style="display:none;")
block js
	script(type="text/javascript", src=mock.uri("js/index.js", true))